%h1 WELCOME TO FINANCIER!
%p Already a member?
%p Here, you can manage your finances!
- if logged_in?
    %button= link_to "Enter", accounts_path
- else
    %button= link_to "Enter", '/login'

%br/

%h2 New Here?
%p I Can Help You Manage Your Credit Cards!
%br/
%button= link_to "Join Now", '/signup'