%h1 WELCOME TO FINANCIER!
%p Here, you can manage your finances
%button= link_to "Enter", accounts_path

%br/

%h2 May I Help You Manage Your Credit Cards?
%br/
%button= link_to "Join Now", new_user_registration_path