%h1 Your Payments!
%ul
    - @payments.each do |payment|
        %p= payment.date.to_date
        %p= number_to_currency(payment.amount)
        %p= payment.description

        %br/
        %br/
        %button= link_to "Transactions", account_transactions_path(@account)
        -# %p= link_to "Make a Payment", transaction_payment_path(@account), class: "button"
